<div class="cart-main relative">
    <button *ngIf="carts.length > 0"  type="button" class="px-4 py-2 absolute right-3 top-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 cursor-pointer" (click)="placeOrder()">Place Order</button>
    <div *ngIf="carts.length > 0" class="cart-list flex flex-row gap-8 flex-wrap p-8">
        <div *ngFor="let cart of carts" class="mt-10 book-card border-2 w-[300px] h-[350px] border-gray-300 rounded-lg p-4 bg-white">
            <img [src]="cart.url" alt="{{ cart.title }}" class="w-[300px] h-[200px] object-cover mb-4 rounded">
            <h2 class="text-xl font-semibold mb-2">{{ cart.title }}</h2>
            <p class="text-gray-600 mb-2">Author: {{ cart.author }}</p>
            <div class="dtls flex justify-between items-center">
                <p class="text-gray-800 font-bold">Price: ${{ cart.price }}</p>
                <button type="button" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 cursor-pointer" (click)="removeFromCart(cart)">Remove</button>
            </div>
        </div>
    </div>
    <div>
        <h2 *ngIf="carts.length === 0" class="text-2xl font-semibold text-gray-600 text-center mt-20">Your cart is empty</h2>
    </div>

</div>