*
{
    transition: 1s;
}

.main
{
    display: flex;
}

p
{
    padding: 0;
    margin: 0;
}

.left{
    width: 150px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    border-right: 1px solid black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;    
}

.content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hamburger, .home, .orders, .cart, .logout, .profile
{
    cursor: pointer;
}

.home, .orders, .cart, .logout, .profile{
    /* width: 80px; */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 6px;
    backdrop-filter: blur(10px);
    /* border: 1px solid black; */
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #fcfcfc;

    p{
        font-size: 20px;
        opacity: 100;
        width: fit-content;
        transform: translateX(10px);
    }
}

.home:hover, .orders:hover, .cart:hover, .logout:hover, .profile:hover
{
    border: 1px solid black;
    border-radius: 5px;
}


.logout
{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.hamburger
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 0px 0px 5px;
}


.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.leftToggle
{
    width: 70px;
    p{
        opacity: 0;
        pointer-events: none;
        width: 0;
        overflow: hidden;
    }
}

.windowToggle
{
    width: fit-content;
    justify-content: center;
    gap: 0px;
    p{ 
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        transform: translateX(-10px);
    }
}

.right
{
    margin-left: 150px;
    transition: margin-left 0.3s ease-in-out;
}

.rightToggle
{
    margin-left: 70px;
    flex: 1;
}