*
{
    margin: 0;
    padding: 0;
}


.checkout
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 30px 30px 10px;
    padding: 10px;
}

.book-store
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    height: calc(100vh - 15vh);
    background-color: var(--color-bg-light);
    overflow-y: scroll;
    overflow-x: hidden;
}

.book-card
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--color-bg-light);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    gap: 10px;
    width: 300px;
    padding: 10px;
    border: 1px solid #000;
    align-items: center;
    box-shadow: 2px 2px 3px gray;
}

.book-card:hover
{
    box-shadow: inset 1px 2px 4px gray;
}

.book-card img
{
    width: 200px;
    height: 150px;
}

.bookdtls
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    h3
    {
        font-size: 18px;
        text-transform: uppercase;
        margin-left: 20px;
    }
    p{
        font-size: 12px;
        margin-left: 20px;
    }
}

.bookdtls2
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        font-size: 16px;
        font-weight: 500;
    }
}

.cartbtn
{
    display: block;
    width: 120px;
    justify-content: center;
    background-color: var(--color-primary-dark);
    color: var(--color-card-bg);
    border: none;
    border-radius: 20px;
    padding: 8px 10px;
}

.numcart
{
    display: flex;
    align-items: center;
    color: var(--color-primary-dark);
    background-color: var(--color-card-bg);
    width: 120px;
    justify-content: space-around;
    border-radius: 20px;
    /* padding: 8px 10px; */
    border: 1px solid var(--color-primary-dark);
}

.minus
{
    background-color: var(--color-primary-dark);
    color: var(--color-card-bg);
    width: 50px;
    height: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    padding: 6px;
    cursor: pointer;
}

.number
{
    width: 135px;
    text-align: center;
    /* padding: 20px; */
}