*
{
    margin: 0;
    padding: 0;
}


.orderbtn
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 30px 30px 10px;
    padding: 10px;
}

.cart-store
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
}

.cart-card
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    padding: 10px;
    border: 1px solid #000;
    align-items: center;
    box-shadow: 2px 2px 3px gray;
    *{
        padding: 2px;
    }
}

.cart-card:hover
{
    box-shadow: inset 1px 2px 4px gray;
}

.cartdtls
{
    display: flex;
    flex-direction: column;
    h3
    {
        font-size: 18px;
        text-transform: uppercase;
    }
    p{
        font-size: 12px;
    }
}

.cartdtls2
{
    width: 70%;
    display: flex;
    justify-content: space-between;
    a{
        color: blue;
    }
}
